h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

h2{font-family: Verdana, Geneva, Tahoma, sans-serif;}

p{font-family: Verdana, Geneva, Tahoma, sans-serif}

body{
    background-color: lavenderblush;
}

img{
    background-color: plum;
}